body {
  margin:0;
  padding:0;
  overflow:hidden;
}

canvas {
  display:block;
}

button#play {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  outline: none;
  box-shadow: none;
}
button#play:hover {
  background-color: #dbd9d6;
}